<appSettings>
	<!-- Put your settings for local dev in AppSettings.local.config and leave these blank. This file is replaced by a post-build step. -->
	<add key="AZURE_STORAGE_CONNECTION_STRING" value="" />
	<add key="SpotifyApiClientId" value="" />
	<add key="SpotifyApiClientSecret" value="" />
</appSettings>
