<h2>
    {{ jukebox.name }} <span ng-show="loading">Loading...</span>
    <button class="btn btn-danger" ng-show="audioOn && track" ng-click="mute()">Mute</button>
    <button class="btn btn-success" ng-show="!audioOn && track" ng-click="unmute()" >Un-mute</button>
    <small>
        <span class="label label-info" ng-show="jukebox.trackCount">{{ jukebox.trackCount }} tracks</span>
        <span class="label label-info" ng-show="jukebox.listenerCount == 1">1 listener</span>
        <span class="label label-info" ng-show="jukebox.listenerCount > 1">{{ jukebox.listenerCount }} listeners</span>
    </small>
</h2>

<div class="container" ng-show="error">
    <div class="alert alert-danger" role="alert">
        <strong>Error!</strong> {{ error }}
    </div>
</div>

<div class="panel panel-default player" ng-show="!track && playing">
    <div class="panel-body" style="font-size: 2em;">
        <div class="spinner pull-left" style="height:150px;width:150px;margin:auto 10px;">
            <div class="rect1"></div>
            <div class="rect2"></div>
            <div class="rect3"></div>
            <div class="rect4"></div>
            <div class="rect5"></div>
        </div>
        <div ng-show="!startsIn"><span class="glyphicon glyphicon-pause"></span> 00:00 </div>
        <div ng-show="startsIn"><span class="glyphicon glyphicon-pause"></span> 00:{{ startsIn | numberFixedLen:2 }} </div>
        <div>Connecting to Jukebox...</div>
    </div>
</div>

<div class="panel panel-default player" ng-show="track">
    <div class="panel-body" style="font-size: 2em;">
        <a href="{{ track.webUrl }}" target="_blank"><img ng-src="{{ track.imageUrl }}" width="150" class="pull-left" style="margin-right:10px;" /></a>
        <div><span class="glyphicon glyphicon-play"></span> 00:{{ track.remain | numberFixedLen:2 }} </div>
        <div>{{ track.artist }}</div>
        <div><a href="{{ track.webUrl }}" target="_blank">{{ track.name }}</a></div>
    </div>
</div>

<h3>Add music to the Jukebox</h3>

<form role="form" class="form-inline">
    <div class="form-group">
        <label for="spotifyUsername" class="sr-only">Enter a Spotify Username</label>
        <input type="text" class="form-control" id="spotifyUsername" ng-model="spotify.userId" placeholder="Spotify username"
               required>
    </div>

    <button ng-click="getPlaylists()" class="btn btn-success" ng-disabled="!spotify.userId">Go</button>
</form>

<table class="table table-hover" ng-show="choosePlaylists">
    <thead>
        <tr>
            <th>#</th>
            <th>Playlist <span class="badge pull-right">tracks</span></th>
            <th>By</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="playlist in playlists" ng-show="playlist.id">
            <td>{{ $index + 1 }}</td>
            <td>{{ playlist.name }} <span class="badge pull-right">{{ playlist.tracks.total }}</span></td>
            <td>{{ playlist.owner.id }}</td>
            <td>
                <button class="btn btn-success" ng-click="addPlaylist(playlist)"
                        ng-disabled="playlist.Add">
                    Add
                </button>
                <div class="csspinner bar"
                     ng-show="playlist.Loading">
                    Loading...
                </div>
            </td>
        </tr>
    </tbody>
</table>

<button class="btn btn-default" ng-show="spotify.playlists.next" ng-click="getPlaylists()">More...</button>

<div class="container">
    <div class="spinner pull-left" ng-show="loading || playlistsLoading">
        <div class="rect1"></div>
        <div class="rect2"></div>
        <div class="rect3"></div>
        <div class="rect4"></div>
        <div class="rect5"></div>
    </div>
</div>
