Jukebox/bin
Jukebox.WebJobs/bin
obj
*.suo
*.user
_*
packages
*.nupkg
node_modules
.ntvs_analysis.dat
.env
newrelic_agent.log
AppSettings.local.config
Jukebox.Web/App_Data/jobs/continuous/Jukebox-WebJobs/appSettings.config
*.vshost.*
Jukebox.Web/App_Data/jobs/continuous/Jukebox-WebJobs/*.pdb
Jukebox.Web/App_Data/jobs/continuous/Jukebox-WebJobs/*.xml